


.navbar-brand img{
    height: 4rem;
    width: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar-nav .nav-link.active{
    color:#fff
}

.nav-pills .nav-link.active{
    background-color: #000;
}

.navbar-expand-md .navbar-nav .nav-link {
   margin-right: 10px;
}
.navbar-expand-md .navbar-nav .nav-link {
   padding-left: 10px;
}


body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s, color 0.5s; 

  }
  
  .dark-mode {
    background-color: #0c021d;
    color: #f8f8f8;    
  }

  .btn-mode{
    border: none;
  }


.large-text {
    font-size: 4rem; 
    font-weight: bold;
  }

  p{
    font-size: 1.1em;
    color: rgb(121, 121, 121);
  }

  .custom-spacing {
    margin: 3px; /* Ajusta según la separación deseada */
  } 


.skill{
    font-size: 16px;
    font-weight: 400;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;   
}

.card-skills{
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.card-skills:hover {
    box-shadow: 0px 10px 20px rgba(255, 193, 7, 0.7), /* Amarillo más intenso */
    0px 14px 30px rgba(255, 87, 34, 0.6), /* Naranja más fuerte */
    0px 18px 40px rgba(76, 175, 80, 0.5); /* Verde más pronunciado */
    transition: box-shadow 0.3s ease-in-out; 
  }

  .bi-github:hover{
    color: rgb(255, 255, 255);
    background-color: #0984d6;
    border-radius: 50%;
    padding: 1px;
    transition: .5s ease-in-out;    
  }

  .imgcontacto{
    background-image: url(../img/imagen-contacto.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el formulario */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 0px; /* Ajusta el espacio interno del formulario */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    color: white; /* Asegúrate de que el texto sea visible sobre la imagen */
  }

  .formcontacto{    
    background-color: rgba(0, 0, 0, 0.1);    
    border: none;
  }

  .form1{
    background-color: rgba(0, 0, 0, .1);    
    background-image: url(../img/email.png);
    background-size: 50px 50px;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 20px;
  }

  .form2{
       background-color: rgba(0, 0, 0, .4);   
  }

    /* @media (prefers-color-scheme: dark) {
      body {
        background-color: #0c021d;
        color: white;
      }
    }
  
    @media (prefers-color-scheme: light) {
      body {
        background-color: white;
        color: black;
      }
    } */

